[user]
	name = kenkoro
	email = frogharvard@gmail.com
	username = aurora
	signingkey = 449AB49D42530C2F
[core]
	editor = lvim
  sshCommand = ssh -i ~/.ssh/github
[init]
	defaultBranch = main
[web]
	browser = google-chrome
[rerere]
	enabled = 1
	autoupdate = 1
[color]
	ui = auto
[diff]
	tool = vimdiff
[alias]
	ci = commit
	ph = push
	cl = clone
	br = branch
	co = checkout
	sw = switch
	st = status
	last = log HEAD -1
	history = log --graph --all --pretty=oneline --abbrev-commit
[commit]
	gpgsign = true
