[user]
	username = kenkoro
[core]
	editor = lvim
[web]
	browser = google-chrome
[rerere]
	enabled = 1
	autoupdate = 1
[color]
	ui = auto
[diff]
	tool = vimdiff
[alias]
	ci = commit
	ph = push
	cl = clone
	br = branch
	co = checkout
	sw = switch
	st = status
	last = log HEAD -1
	history = log --graph --all --pretty=oneline --abbrev-commit
[commit]
	gpgsign = true
[includeIf "gitdir:~/Dev/home.gh/"]
  path = ~/Dev/dotfiles/git/.gitconfig.home.gh
[includeIf "gitdir:~/Dev/home.gt/"]
  path = ~/Dev/dotfiles/git/.gitconfig.home.gt
[includeIf "gitdir:~/Dev/wk/"]
  path = ~/Dev/dotfiles/git/.gitconfig.wk
[includeIf "gitdir:~/Dev/dotfiles/.git"]
  path = ~/Dev/dotfiles/git/.gitconfig.home.gh
